.navBar {
    display: flex;
    align-items: center;

    background: #124E78;
    color: white;
    height: 48px;
    width: 100%;
    padding: 0 40px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    padding-left: 14px;
}

.logo {
    transform: translate(0, -3px);
}